@import "tailwindcss";

@theme {
  --font-mono: 'Share Tech Mono', monospace;
  --font-tech: 'Share Tech', monospace;
  --color-lcd-blue: rgb(83, 170, 255, 0.8);
  --shadow-lcd-glow: 0 0 20px rgba(83, 170, 255, 0.8);
}

.font-tech {
  letter-spacing: -0.00em;
  word-spacing: -0.1em;
}

/* Custom styles to override the background color */
pre[class*="language-"] {
  background-color: oklch(23.31% 0.01551 256.843); /* Example: Dark background */
  /* Add other styles as needed, like padding, border-radius, etc. */
}

code[class*="language-"] {
  background-color: oklch(23.31% 0.01551 256.843); /* Ensure inline code also gets the background */
}

* {
  caret-color: transparent;
}